.cardTextStyle {
  font-family: "Josefin Sans", sans-serif;
}
.cardTextLimit {
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
